name: Kubernetes CI
on:
  push:
    branches:
      - main

jobs:
  pyapp-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Build Docker Image
        run: "docker build -t efritznel/pyapp:${GITHUB_SHA::7} ."
      - name: login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
     
